html,body{
    height: 100%
}

body{
    margin: 0;
}

header{
    background: #ff992c;
    height: 20px;
}

ul{
    list-style-type: none;
    padding: 10px;
}

li{
    border-bottom: solid 1px #fff;
    padding: 5px;
}

li a{
    text-decoration: none;
    color: #fff;
}

button{
    height: 30px;
    width: 200px;
    background-color: #ff992c;
    border-width: 1px;
    color: #fff;
    font-size: 117%;
    margin-left: 30px;
}

button:hover{
    background-color: #f3bd84;
}

table{
    /*display: none;*/
    background: #e0e0e066;
    margin: 0 20px;
}

th {
  font-weight: bold;
  background: #3f3f3f;
  color: #ffffff;
}
td,th {
  width: 250px;
  padding: 10px;
 }

tr:nth-child(even) {
  background: #d9d9d9;
 }



.menu {
    float: left;
    width: 175px;
    height: 100%;
    background: #000;
    margin-right: 15px;
}

.main {
    height: 100%;
    width: 100%;
    margin-left: 175px;
}

